# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments & environment variables
.env*
venv/
env/
.venv/

# Testing & coverage caches
.pytest_cache/
.coverage
htmlcov/

# Editor & IDE configurations
.vscode/
.idea/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Frappe specific
tags
frappe_s3_attachment/docs/current